body{
 background-color: 	#FFA500;
}
header{
 text-align: center;
 height: 100px;
 padding-top: 1px;
 background-color: 	#008000;
 color: #FFA07A;
 font-size: x-large;
}
h3{
 margin-top: 2px;
 text-align: center;
 background-color: 	#008000;
}
form{
 width: 45%;
 display: inline-block;
 margin: 20px;
}
footer{
 margin-top: 3%;
 text-align: center;
}